  <form class="authForm">
    <h3 class="authForm__title">Зарегистрироваться</h3>
    {{{email}}}
    {{{login}}}
    {{{firstName}}}
    {{{lastName}}}
    {{{phone}}}
    {{{password}}}
    {{{repeatPassword}}}
    <button class="btn authForm__submit" type="submit">Зарегистрироваться</button>
    <button class="btn authForm__signIn" type="button">Войти</button>
  </form>
